* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* background edit */
.background-web {
    background: url("img/gedungJTI.jpg") no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 50%;
}
/* end of background edit */

/* box (biru) edit */
.container{
    width: 380px;
    height: 460px;
    align-content: center;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #225189;
}
/* end of box (biru) edit */

/* heading dalam box edit */
h3 {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 15px;
    color: white;
    font-family: 'Secular One', sans-serif;
    font-size: 2rem;
}
/* end of edit heading */

/* form edit */
.container form{
    width: 280px;
    position: absolute;
    top: 50px;
    left: 50px;
    transition: 0.5s;
}
/* end of form edit */

/* edit input */
input{
    width: 100%;
    padding: 20px 40px 30px 30px;
    margin: 5px 0;
    border: 0;
    outline: none;
    background: transparent;
}
/* end of edit input */

/* edit label (nip/nim, password dll) */
label {
    font-family: 'Secular One';
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 7px;
    color: white;
}
/* end of edit label */

/* edit tampilan input */
.container>form .form-field>input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 20px;
    padding-left: 20px;
    border: 1px solid rgb(110, 110, 110);
    border-radius: 25px;
    font-size: 15px;
}
/* end of tampilan input */

/* edit lebar bubble input */
.container>form>.form-field {
    height: 50px;
    width: 100%;
    margin-top: 0px;
    position: relative;
}
/* end of edit lebar bubble input */

/* edit focus in input */
.container>form .form-field>input:focus {
    border-color: whitesmoke;
}
/* end of edit focus in input */

/* edit button (input) */
form>.form-field>input[type="button"],
form>.form-field>input[type="submit"]{
    color: #fff;
    border: none;
    padding-left: 0;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: #E5B300;
    font-family: 'Secular One', sans-serif;
}
/* end of edit button */

/* edit hover button (input) */
form>.form-field>input[type="button"]:hover,
form>.form-field>input[type="submit"]:hover{
    background: #E5B300;
    transform: scale(1.11);
}
/* end of edit hover button (input) */

/* edit of link */
form>.link {
    color: white;
    margin-top: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

form>.link a {
    color: white;
    font-family: 'Secular One', sans-serif;
}
/* end of link */

/* edit footer (copyright) */
footer {
    font-size: 14px;
    align-content: bottom; 
    position: absolute;
    bottom: 0; 
    width: 100%;
    text-align: center;
    /* padding: 5% 0; */
    color: white;
    font-weight: bold;
    font-family: 'Secular One', sans-serif;
}
/* end of edit footer (copyright) */

/* edit multi-page for register and forgot pass */
#Form2{
    left: 450px;
}

/* #Form3{
    left: -450px;
} */

.step-row {
    width: 320px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
    position: relative;
}

.step-col {
    width: 120px;
    text-align: center;
    color: #333;
    position: relative;
}

#progress {
    /* position: absolute;
    height: 100%;
    width: 120px;
    background: linear-gradient(to right, #ff105f, #ffad06); */
    transition: 1s;
}

#progress::after{
    /* content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #ffad06; */
}
/* end of edit multi-page */