/* styling body/tampilan halaman */
body {
    margin: 0;
    /* set ulang margin menjadi 0 */
    /* background: url('img/gedungJTI.jpg') no-repeat; */
    /* background-size: cover; */
    background-color: white;
    font-family: Arial, sans-serif;
}

/* styling untuk border box input dan textarea  */
.col-md-4>input,
.col-md-4>textarea {
    border: 1px solid black;
}

/* menghilangkan border & bg untuk formulir 
serta memberikan warna font*/
.form-control {
    border: none;
    background-color: transparent;
    color: black;
}

/* styling input ketika tidak dalam keadaan ter-fokus */
input[type="text"],
input[type="date"],
textarea {
    resize: vertical;
    background-color: #838C96;
    color: white;
    /* border: 1px solid #ccc; */
    border-radius: 15px;
    padding: 12px;
}

/* styling ulang karena styling input di atas 
untuk textarea tidak terdeteksi */
.col-md-4 textarea {
    background-color: #838C96;
    border-radius: 15px;
}

/* placeholder pada input */
input[type="text"]::placeholder,
input[type="date"]::placeholder,
textarea::placeholder {
    color: white;
    /* Warna placeholder */
}

/* style input ketika dalam keadaan ter-fokus */
input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus {
    outline: none;
    border-color: #838C96;
    background-color: #838C96;
    color: white;
}

/* mengatur ukuran dan bentuk button */
.btn {
    padding: 0.5rem 2rem;
    border-radius: 0.7rem;
}


.container {
    position: relative;
    /* min-height: 100vh; */
    top: 0;
    /* left: 78px; */
    /* width: calc(100% - 78px); */
    transition: all 0.5s ease;
    margin: 0;
    padding-left: 0;
}

.wrapper-text {
    position: relative;
    background: #E4E9F7;
    /* min-height: 100vh; */
    top: 0;
    width: 100%;
    transition: all 0.5s ease;
}

.text {
    display: inline-block;
}

/* style agar button berada di tengah */
button {
    align-content: center;
}

/* mengatur agar link selalu berwarna putih */
a,
a:hover,
a:focus {
    color: white;
}