#inputFormBarang {
    width: 90%;
    height: 100vh;
    display: flex;
    margin-left: 16%;
}

#inputFormBarang .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 97vh;
}

#inputFormBarang .row {
    width: 100%;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    #inputFormBarang {
        margin-left: 13%;
    }

    #inputFormBarang .row {
        margin-left: 0;
    }
}