/* Setting center daftar barnag */
#daftarBarang, #daftarUser, #historyBarang, #detailHistory {
    width: 84%;
    margin-left: 16%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Setting center daftar mobile */
@media screen and (max-width: 768px) {
    #daftarBarang, #daftarUser, #historyBarang, #detailHistory {
        width: 88%;
        margin-left: 12%;
    }

    #daftarBarang .card {
        margin-left: 3px;
    }
}